In [1]:
import os
import sys

# Add local src directory to the path. Then we are able to import our files.
module_path = os.path.abspath(os.path.join('src'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
import pandas
import matplotlib
from helpers import get_analysis_files
from myDataClasses import AnalysisFile

path = 'analysisOutput/results'

In [3]:
pandas.read_csv?

In [4]:
# Important functions

def remove_bag_results(table):
    delim_index = list(table.iloc[0]).index("|")
    
    return table.iloc[:, 0:delim_index]

def get_cols_list(path: str):
    cols = pandas.read_csv(path, index_col=None, delimiter=" ", header=None)
    cols = remove_bag_results(cols)
    return list(cols.iloc[0])

def load_analysis_files(folder_path: str, column_list):
    files: AnalysisFile = get_analysis_files(folder_path)
    output_table = None
    
    for file in files:
        curr_table = pandas.read_csv(file.full_path, index_col=None, delimiter=" ", header=None)
        curr_table = remove_bag_results(curr_table)
        curr_table.columns = column_list
        curr_table["dataset"] = file.dataset
        
        if output_table is not None:
            output_table = output_table.append(curr_table, ignore_index=True)
        else:
            output_table = curr_table
    
    output_table = output_table.set_index(['dataset', 'id', "item_count"])
    return output_table

In [5]:
# Create column lists

dp_cols = get_cols_list(f'{path}/DP/column_description_DP.dat')
dpweight_cols = get_cols_list(f'{path}/DPWeight/column_description_DPWeight.dat')
greedy_cols = get_cols_list(f'{path}/Greedy/column_description_Greedy.dat')
greedyone_cols = get_cols_list(f'{path}/GreedyOne/column_description_GreedyOne.dat')
fptas_cols = get_cols_list(f'{path}/FPTAS/column_description_FPTAS.dat')

In [6]:
# Load tables of all strategies
#dp_table = load_analysis_files(f'{path}/DP', dp_cols)
#dpweight_table = load_analysis_files(f'{path}/DPWeight', dpweight_cols)
#greedy_table = load_analysis_files(f'{path}/Greedy', greedy_cols)
#greedyone_table = load_analysis_files(f'{path}/GreedyOne', greedyone_cols)
fptas_table = load_analysis_files(f'{path}/FPTAS', fptas_cols)

In [7]:
fptas_table

                        maximum_sum        time  relative_error
dataset id  item_count
NK      1   10                 5370    7.001185             0.4
        2   10                 1357    8.820489             0.4
        3   10                11151    7.699714             0.4
        4   10                14190    9.159065             0.4
        5   10                11668    7.756926             0.4
...                             ...         ...             ...
ZKC     496 27                23352   93.770525             0.5
        497 27                27769  108.381669             0.5
        498 27                24735  130.123497             0.5
        499 27                29902  144.468973             0.5
        500 27                24910  136.586087             0.5

[69180 rows x 3 columns]

In [12]:
fptas_table

                        maximum_sum        time  relative_error
dataset id  item_count
NK      1   10                 5370    7.001185             0.4
        2   10                 1357    8.820489             0.4
        3   10                11151    7.699714             0.4
        4   10                14190    9.159065             0.4
        5   10                11668    7.756926             0.4
...                             ...         ...             ...
ZKC     496 27                23352   93.770525             0.5
        497 27                27769  108.381669             0.5
        498 27                24735  130.123497             0.5
        499 27                29902  144.468973             0.5
        500 27                24910  136.586087             0.5

[69180 rows x 3 columns]